defmodule AbsintheReload.WhizBang do
  use Absinthe.Schema.Notation

  object :stitched_fields do
    field(:example, :user)
    field(:example2, :user)
  end

  object :user do
    field(:name, :string)
  end
end
